{{^isFile}}{{{dataType}}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isFile}}{{#isFile}}{{#vendorExtensions.x-kotlin-binary-type}}{{{vendorExtensions.x-kotlin-binary-type}}}{{#isNullable}}?{{/isNullable}}{{/vendorExtensions.x-kotlin-binary-type}}{{^vendorExtensions.x-kotlin-binary-type}}{{#isArray}}Array<{{/isArray}}org.springframework.web.multipart.MultipartFile{{#isArray}}>{{/isArray}}{{#isNullable}}?{{/isNullable}}{{/vendorExtensions.x-kotlin-binary-type}}{{/isFile}}
